* {
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
}

.app {
    width: 50%;
    margin: 0 auto; 
    padding: 10px;    
}

button {
    font-size: 1.2rem;
    border: none;
    background-color: rgba(2, 29, 29, 0.212);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}